.preloader {
    /*фиксированное позиционирование*/
    position: fixed;
    /* координаты положения */
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    /* фоновый цвет элемента */
    background: #e0e0e0;
    /* размещаем блок над всеми элементами на странице (это значение должно быть больше, чем у любого другого позиционированного элемента на странице) */
    z-index: 1001;
  }
  
  .preloader__row {
    position: relative;
    top: 50%;
    left: 50%;
    width: 70px;
    height: 70px;
    margin-top: -35px;
    margin-left: -35px;
    text-align: center;
    animation: preloader-rotate 2s infinite linear;
  }
  
  .preloader__item {
    position: absolute;
    display: inline-block;
    top: 0;
    background-color: #337ab7;
    border-radius: 100%;
    width: 35px;
    height: 35px;
    animation: preloader-bounce 2s infinite ease-in-out;
  }
  
  .preloader__item:last-child {
    top: auto;
    bottom: 0;
    animation-delay: -1s;
  }
  
  @keyframes preloader-rotate {
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes preloader-bounce {
  
    0%,
    100% {
      transform: scale(0);
    }
  
    50% {
      transform: scale(1);
    }
  }
  
  .loaded_hiding .preloader {
    transition: 0.3s opacity;
    opacity: 0;
  }
  
  .loaded .preloader {
    display: none;
  }

  @import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&display=swap');

  * {
    margin: 0;
    padding: 0;
    outline: 0;
  }
  
  *, ::after, ::before {
      box-sizing: border-box;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  body {
    background: #03192E;
    color: #FFF;
    font-family: 'Robot Mono', sans-serif;
    text-align: center;
  }
  
  button {
    color: #04223e;
    border: 0;
    font-weight: 600;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 5px;
  }
  
  a {
    text-decoration: none;
    color: #FFF;
    padding: 5px;
  }
  
  a:hover, button:hover {
    opacity: .7;
  }
  
  .navbar {
    list-style-type: none;
    padding: 5px;
  }
  
  .navbar .nav-item:not(:last-child) {
    float: left;
    padding: 10px;
  }
  
  
  .navbar .nav-item:last-child {
    float: right;
    padding: 10px 15px;
    margin: 10px;
    background-color: #f5b62f;
    border-radius: 10px;
  }
  
  .hero-section {
    background-color: #202124;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("https://cdn.discordapp.com/attachments/829066601332080660/994315823248330772/unknown.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10.8em 0 14.8em 0;
    border-radius: 0 0 50px 50px;
  
  }
  
  .hero-title {
    margin: 15px;
  }
  
  .hero-description {
    margin: 20px;
  }
  
  .hero-btn {
    background: linear-gradient(45deg, #0e60e6, #640ee6);
  }
  
  .s-m-section {
    background: linear-gradient(45deg, #f59f3d, #ffcc33);
    padding: 20px;
  }
  
  
  .s-m-title {
    margin: 20px;
  }
  
  .s-m-descritpion {
    margin: 0 0 40px 0;
  }
  
  .s-m-btn {
    border: 2px solid #ffffff;
    color: #03192e;
    padding: 8px 20px;
    background: 0;
  }
  
  .s-m-btn-2 {
    background-color: #f5f5f5;
    color: #000000;
  }
  
  .time-load-section {
    background: linear-gradient(0deg, #E6F0FA 40%, #03192E 40%);
    padding: 100px 0;
  }
  
  .card {
    padding: 60px;
    border-radius: 10px;
    background: #FFF;
    color: #000000;
    margin: 15px;
    box-shadow: -1px 1px 20px 2px #00000030;
  }
  
  .statics-section {
    background-color: #ffffff;
    color: #03192E;
    padding: 70px;
  }
  
  .statics-description {
    margin: 10px 0 50px 0;
  }
  
  .statics-rows {
    flex: 33.33%;
  }
  
  .feutures-section {
    padding: 85px 60px;
    background-image: url("https://media.discordapp.net/attachments/902925923681173564/912680086644338718/Orange-Wave-PNG-Transparent.png");
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: bottom;
  }
  
  .feutures-card {
    padding: 15px;
  }
  
  .row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
  }
  
  .container {
    padding: 0 15px;
    margin: 0 auto;
  }

  .foot {
    padding: 10px 0 10px 0;
  }
  
  @media (min-width: 768px) {
    .container {
      width: 750px;
    }
  }
  
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }
  
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
  
  }
  
  @media (min-width: 576px) {
    .card {
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%;
    }
    .statics-rows {
      flex: 100%;
      -ms-flex: 0 0 100%;
      max-width: 100%;
    }
  }
  
  @media (min-width: 768px) {
    .card {
      -ms-flex: 0 0 45%;
      flex: 0 0 45%;
      max-width: 45%;
    }
    .statics-rows {
      flex: 33.33%;
      max-width: 33.33%;
      flex: 0 0 33.33%;
    }
  }
  
  @media (min-width: 992px) {
    .card {
      -ms-flex: 0 0 45%;
       flex: 0 0 45%; 
       max-width: 45%;
    }
    .statics-rows {
      flex: 33.33%;
      max-width: 33.33%;
      flex: 0 0 33.33%;
    }
  }
  